<!-- xlog2n -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<style>
    mjx-container[jax="CHTML"][display="true"] {
        background: rgba(0, 0, 0, 0.9);
        border: 1px solid rgba(255, 255, 255, 0.15);
        padding: 10px;
    }
    blockquote {
        margin-left: 0;
        margin-right: 0;
    }
    #main-content > article > time.by-line {
        display: block;
        border-bottom: 1px dotted #999;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
</style>
<script> 
    MathJax = {
      tex: {
        inlineMath: [ ['$', '$'], ['\\(', '\\)'] ],
        displayMath: [ ['$$', '$$'], ['\\[', '\\]'] ],
        processEscapes: true
      }
    };
</script>




